.result-main {
  padding-top: 40px;
  background-color: rgb(54, 56, 51);
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}
.result-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.list {
  padding-top: 10px;
  background-color: rgb(54, 56, 51);
  display: inline-block;
  height: 350px;
  width: 225px;
  flex-direction: column;
}
.list-img > img {
  padding-top: 10px;
  width: 200px;
  height: 282px;
}
.results-title {
  margin: 0 auto;
  width: 250px;
  height: 18px;
}
