.favorites {
  display: flex;

  justify-content: flex-start;
  overflow: scroll;
  padding-top: 80px;
  color: white;
}
.fav-list {
  padding-right: 20px;
  padding-bottom: 20px;
}
.fav-images {
  width: 300px;
}
.fav-images > img {
  height: 250px;
  padding-top: 20px;
}
.fav-expanded {
  padding-top: 20px;
}
