.favorites {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 80px;
  color: white;
}
.fav-list {
  padding-right: 20px;
}
.fav-images > img {
  height: 250px;
  padding-top: 20px;
}
