.favorite-main {
  background-image: url("../images/bgimage.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.favorites {
  background-color: rgba(54, 56, 51, 0.822);
  display: flex;
  height: 38vh;
  width: 90vw;
  overflow: scroll;
  padding-top: 80px;
  color: white;
}
.fav-list {
  padding-right: 20px;
  padding-bottom: 20px;
}
.fav-list > button {
  border-style: none;
  background-color: rgb(48, 157, 247);
  color: black;
  height: 20px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 10px;
}

.fav-images {
  height: 20vh;
  width: 300px;
}
.fav-images > img {
  height: 150px;
  padding-top: 20px;
}
.fav-expanded {
  padding-top: 20px;
}
@media screen and (max-width: 580px) {
  .favorites {
    background-color: rgba(54, 56, 51, 0.822);
    display: flex;
    height: 40vh;
    width: 80vw;
    overflow: scroll;
    padding-top: 80px;
    color: white;
  }

  .fav-images > img {
    width: 50px;
    height: auto;
  }

  .fav-list {
    font-size: 10px;
    padding: 0px;
  }
}
