@import url("https://fonts.googleapis.com/css?family=Acme");

.header-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
  background-color: rgb(73, 73, 73);
  position: fixed;
}
.header-title {
  color: white;
  font-family: "Acme", sans-serif;
  margin: 0px 0px 0px 15px;
}
.nav-list {
  color: white;
  display: flex;
  width: 60vw;
  justify-content: center;
  align-items: center;
}
a:visited {
  color: white;
}
a:hover {
  color: blue;
}
a:link:active,
a:visited:active {
  color: blue;
}
.nav-button {
  padding-right: 40px;
}
