@import url("https://fonts.googleapis.com/css?family=Acme");

.header-container {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  width: 100vw;
  background-color: rgb(73, 73, 73);
  position: fixed;
  box-shadow: -9px 10px 5px 0px rgba(0, 0, 0, 0.56);
}
.header-title {
  color: white;
  font-family: "Acme", sans-serif;
  margin: -15px 0px 0px 15px;
}
.nav-list {
  color: white;
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
  align-items: center;
}
a:visited {
  color: white;
}
a:hover {
  color: rgb(255, 255, 255);
}
a:link:active,
a:visited:active {
  color: rgb(255, 255, 255);
}
.nav-button {
  padding-right: 40px;
}
.profile-pic > img {
  border-radius: 50px;
}

/* Testing NAv Buttons */

.slidein {
  color: rgba(255, 255, 255, 0.212);
  animation-delay: 3s;
  animation-duration: 3s;
  animation-name: slidein;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    color: rgba(255, 255, 255, 0.212);
    margin-left: 32vw;
    width: 200%;
  }

  to {
    color: white;
    margin-left: 0%;
    width: 100%;
  }
}
.header-links {
  text-decoration: none;
}
.logout {
  text-decoration: none;
  border-radius: 5px;
  background-color: #f27474;
  height: 30px;
  width: 60px;
  padding-top: 10px;
}
@media screen and (max-width: 580px) {
  .header-title {
    color: white;
    font-family: "Acme", sans-serif;
    margin: -15px 0px 0px 15px;
    font-size: 10px;
  }
  .header-links {
    width: 50px;
    font-size: 10px;
  }
  .logout {
    font-size: 7px;
    height: 15px;
    width: 30px;
    padding-top: 10px;
  }
  .profile-pic > img {
    height: 35px;
  }
}
