.dashboard-main {
  color: white;
  height: 100vh;
  width: 100vw;
  background-color: rgb(54, 56, 51);
}
.dashboard-container {
  display: flex;
  justify-content: space-around;
}
.dashboard-search {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}
