#initial-search {
  display: flex;
  height: 49vh;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 92vw;
  background-color: rgb(54, 56, 51);
  overflow: scroll;
}
.test {
  margin: 30px 1vw 30px 1vw;
  display: flex;
  flex-direction: column;
  height: 238px;
  width: 250px;
}
.test > img {
  border-radius: 10px;
  background-color: black;
  padding: 30px;
  height: 200px;
  width: auto;
  object-fit: contain;
}
.test > img:hover {
  transition: height 0.5s ease;
  height: 205px;
}
.dashboard-main {
  background-image: url("../images/bgimage.jpg");
  padding-top: 100px;
  color: white;
  height: 90vh;
  width: 100vw;
  background-color: rgb(54, 56, 51);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-container {
  display: flex;
  justify-content: space-around;
}
.dashboard-search {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}
.title {
  height: auto;
  width: 358px;
  margin: -50px;
}
.title > p {
  display: flex;
  justify-content: center;
  text-align: center;
  text-justify: inter-word;

  text-shadow: 2px 2px 2px #000;
}
.home-login {
  height: 400px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.952);
  border-radius: 10px;
  box-shadow: -9px 10px 5px 0px rgba(0, 0, 0, 0.56);
}
.login-button {
  border-radius: 8px;
  background-color: blue;
  box-shadow: -9px 10px 5px 0px rgba(0, 0, 0, 0.56);

  height: 40px;
  width: 150px;
  font-size: 40px;
  color: black;
}
.login-container {
  display: flex;
  justify-content: center;
  padding-top: 140px;
}
.login-container > a {
  text-decoration: none;
}
